API_HOST=${API_HOST}
API_VERSION=${API_VERSION}
WS_HOST=${WS_HOST}
OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
OAUTH_SCOPE=${OAUTH_SCOPE}
PROJECT_NAME=${PROJECT_DISPLAY_NAME}
BRAND_CODE=${BRAND_CODE}
MAP_PROVIDER=${MAP_PROVIDER}
STADIA_API_KEY=${STADIA_API_KEY}
USE_DYNAMIC_MANIFEST=${USE_DYNAMIC_MANIFEST}
STRIPE_PUBLISHABLE_KEY=${STRIPE_PUBLISHABLE_KEY}
